header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.headerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  // inner
  padding: 0 100px;

  // 로고
  .logo {
    width: 100px;
    object-fit: contain;
    background-repeat: no-repeat;
  }

  // 메뉴
  .menuWrapper {
    width: 80px;
    height: 100%;
    position: relative;

    cursor: pointer;

    //햄버거
    .menuLine {
      position: absolute;
      right: 0;
      width: 70px;
      height: 4px;
      border-radius: 30px;
      background-color: var(--color-bk);

      transition: 0.3s;
      &:nth-child(1) {
        // margin-bottom: 15px;
        top: 38%;
      }
      &:nth-child(2) {
        bottom: 38%;
      }
    }

    &.close {
      .menuLine {
        margin-bottom: 0;
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }
    }
  }
}

// footer

footer {
  border-top: 1px solid var(--color-wh);
  height: 120px;
  width: 100%;
  background-color: var(--color-bk);
  // background-color: var(--color-point);

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    // height: 100%;
    width: 100%;
    padding: 25px 100px 0 100px;

    img {
      width: 45px;
      height: 100%;
      object-fit: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: start;
      opacity: 0.9;
    }

    p {
      span {
        font-weight: 800;
        margin-right: 10px;
      }
      color: var(--color-wh);
      display: flex;
      align-items: center;
      font-weight: 400;
    }
  }
}
