// Main title css

.mainWrapper {
  width: 100%;
  height: 100vh;
  // height: calc(100vw * (930 / 1700));
  display: flex;
}

.titleWrapper {
  background-color: #fff;
  // width: calc(100vw * (900 / 1700));
  width: 100%;
  padding: calc(100vw * (120 / 1700)) calc(100vw * (130 / 1700))
    calc(100vw * (120 / 1700)) calc(100vw * (130 / 1700));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    width: 100%;
    font-size: calc(100vw * (45 / 1700));
    // font-weight: 500;
    line-height: 170%;
    padding-bottom: calc(100vw * (150 / 1700));
    // 위로 떠오르는 애니메이션
    animation: chatAni 1.2s ease-out forwards;

    span {
      // color: var(--color-main);
      font-weight: 600;
    }
  }

  .gnb {
    // background-color: #cdc1c1;
    margin-top: calc(100vw * (50 / 1700));
    width: calc(100vw * (350 / 1700));

    .menu {
      border-bottom: calc(100vw * (1 / 1700)) solid var(--color-bk);

      .titleMenuWrapper {
        height: calc(100vw * (95 / 1700));
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .titleMenu {
        font-size: calc(100vw * (27 / 1700));
        display: flex;
        align-items: center;
      }

      .subMenuWrapper {
        display: none;
        margin-bottom: calc(100vw * (15 / 1700));

        .subMenu {
          font-size: calc(100vw * (17 / 1700));
          padding-bottom: calc(100vw * (14 / 1700));
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.subWrapper {
  width: 100%;
  height: calc(100vw * (930 / 1700));
  background-image: url("../../assets/images/img/main.jpg");
  background-size: cover;
  background-position: 10% 85%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .subInner {
    padding-right: calc(100vw * (150 / 1700));
  }
}

/* 애니메이션 정의 */
@keyframes expandLine {
  0% {
    width: 0;
  }
  100% {
    width: calc(100vw * (400 / 1700));
  }
}

@keyframes chatAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
