section {
  height: 100%;
}

// 프로젝트 탑부분
.projectSection {
  background-color: var(--color-bk);
  color: var(--color-wh);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;

  .projectWrapper {
    .projectTitle {
      padding-bottom: 100px;
      // 타이틀 부분 /프로젝트 이름/
      h1 {
        font-size: 100px;
        line-height: 110%;
        font-weight: 800;
        letter-spacing: -5px;
        text-align: center;
        margin-bottom: 20px;

        span {
          font-size: 80px;
          margin-left: 30px;
        }
      }
      // 프로젝트 짧은 소개
      h2 {
        font-size: 21px;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        // 날짜 & 조이름
        p {
          margin-top: 15px;
          font-size: 18px;
          font-weight: 400;
          span {
            margin-left: 60px;
          }
        }
      }
    }

    // 비디오 영상
    .videoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 850px;
      aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
    }
  }
}

// ===================
// detailInfo
.detailInfoWrapper {
  display: flex;
  flex-wrap: wrap;

  .circle {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-wh);

    &:nth-child(1) {
      transform: translateX(35px);
    }
    &:nth-child(2) {
      border: 1px dashed var(--color-wh);
    }
    &:nth-child(3) {
      transform: translateX(-35px);
    }
    // 원모양 text
    p {
      padding: 0 48px;
      font-size: 18px;
      line-height: 200%;
      font-weight: 400;
      text-align: center;
      word-break: break-all;

      span {
        font-weight: 700;
        color: var(--color-point);
      }
    }
  }
}

// ===================
// MyContribution
// ===================
.myContributionSection {
  background-color: var(--color-wh);
  color: var(--color-bk);
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 100px;

  .myContributionInner {
    width: 100%;
    height: auto;
    padding: 150px 0;

    // My Contributions 대제목 부분
    h1 {
      font-size: 110px;
      line-height: 110%;
      font-weight: 800;
      letter-spacing: -5px;
      margin-bottom: 150px;
    }

    // =======================
    // 하단 wrapper

    .contributionWrapper {
      width: 100%;
      height: 500px;
      // height: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;

      // =======================
      // url 링크
      .urlWrapper {
        color: var(--color-wh);
        display: flex;

        .url {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 120px;
          height: 120px;
          font-weight: 600;
          margin-right: 10px;
          cursor: pointer;

          background-image: url("../../assets/images/icons/flower_icon_B.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            transition: all 0.3s ease;
            transform: translateY(-10px);
          }
        }
      }

      // ====================
      // 내 역할 박스
      .Box {
        width: 900px;
        // height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        // padding: 27px 0;
        border-bottom: 1px solid var(--color-bk);
        cursor: pointer;
        &:nth-child(1) {
          border-top: 1.2px solid var(--color-bk);
        }

        .contributionTitleWrapper {
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          // 내가 한 역할 타이틀
          .contributionTitle {
            font-size: 30px;
            width: 100%;
            display: flex;
            align-items: center;
          }

          // 더보기 이미지
          img {
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease;
          }
        }

        // 상세글
        .contributionText {
          display: flex;
          max-height: 0;
          opacity: 0;

          p {
            font-size: 21px;
            margin-right: 70px;
            font-weight: 500;
          }
        }

        // 상세글 더보기 클릭 시
        &.open {
          .contributionTitleWrapper {
            .contributionTitle {
              font-weight: 800;
              margin-bottom: 10px;
              
              // color: var(--color-point);
            }
            img {
              transform: rotate(90deg);
            }
          }
          .contributionText {
            min-height: 55px;
            opacity: 1;
            transition: opacity 0.3s ease-out, max-height 0.3s ease;
            transition-delay: 0.2s;
          }
        }
      }
    }
  }
}

// 스킬 부분 section
.mySkillSection {
  width: 100%;
  height: 200px;
  background-color: var(--color-point);
  color: var(--color-wh);
  padding: 0 100px;
}
