section {
  height: 100%;
  width: 100%;
}

.projectSection {
  width: 100%;
  padding: 0 100px 0 100px;
  background-color: var(--color-bk);
  color: var(--color-wh);

  .projectWrapper {
    height: 1200px;
    width: 100%;

    // 프로젝트 탑부분
    .projectTitle {
      width: 100%;
      padding: 150px 0 100px 0;
      position: sticky;
      top: 0;
      background-color: var(--color-bk);

      // 타이틀 부분 /프로젝트 이름/
      h1 {
        font-size: 90px;
        line-height: 110%;
        font-weight: 800;

        // letter-spacing: -5px;
        text-align: center;
        margin-bottom: 20px;

        span {
          font-size: 65px;
          margin-left: 30px;
        }
      }

      // 프로젝트 짧은 소개
      h2 {
        font-size: 21px;
        line-height: 150%;
        font-weight: 500;
        text-align: center;

        // 날짜 & 조이름
        p {
          margin-top: 15px;
          font-size: 18px;
          font-weight: 400;
          span {
            margin-left: 60px;
          }
        }
      }
    }
  }

  // ========================
  // 비디오 영상
  // ========================
  .videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .video {
      width: 900px;
      height: auto;
      aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
    }
  }

  // ========================
  // 프로젝트 하단 영상, 원형 부분
  // ========================
  .detailInfoWrapper {
    width: 100%;
    height: 100%;
    padding: 50px 0 200px 0;

    background-color: var(--color-bk);

    .circleWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        width: 430px;
        height: 430px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-wh);

        &:nth-child(1) {
          transform: translateX(35px);
        }
        &:nth-child(2) {
          border: 1px dashed var(--color-wh);
        }
        &:nth-child(3) {
          transform: translateX(-35px);
        }
        // 원모양 text
        p {
          font-size: 19px;
          line-height: 190%;
          font-weight: 400;
          text-align: center;
          word-break: break-all;

          span {
            font-weight: 700;
            color: var(--color-point);
          }
        }
      }
    }
  }
}

// ========================
// 스킬 부분
// ========================
.mySkillSection {
  width: 100%;
  height: 100px;
  background-color: var(--color-point);
  // background-color: var(--color-point);
  color: var(--color-wh);
  padding: 0 100px;
}

// ===================
// MyContribution
// ===================
.myContributionSection {
  // background-color: var(--color-wh);
  color: var(--color-bk);
  width: 100%;
  padding: 0 100px;

  .myContributionInner {
    width: 100%;
    padding: 200px 0;

    // ========================
    // My Contributions 대제목 부분
    .myContributionTitle {
      font-weight: 900;
      letter-spacing: -3px;
      font-size: 60px;
      color: var(--color-point);
      margin-bottom: 100px;
    }
  }
}

// ========================
// 내가 기여한 역할
// ========================
.Box {
  border-radius: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(176, 176, 176, 0.6);

  // ========================
  // box top wrapper
  .myContributionDetailTitleWrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 40px;

    // 내가 기여한 부분 타이틀
    p {
      font-size: 18px;
      color: var(--color-gr);

      &:nth-child(2) {
        font-size: 25px;
        font-weight: 700;
        color: var(--color-bk);
      }
    }

    // ========================
    // 디테일 더보기
    .detailMore {
      width: 80px;
      height: 100%;
      position: relative;

      // 더보기 이모티콘
      .detailMoreLine {
        position: absolute;
        right: 0;
        width: 30px;
        height: 2px;
        border-radius: 30px;
        background-color: var(--color-gr);
        transition: 0.3s;

        &:nth-child(1) {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  // ========================
  // 하단 상세 내용
  .detailTextWrapper {
    max-height: 0;
    word-break: keep-all;
    line-height: 200%;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 1s ease;

    li {
      padding: 0 40px 30px 40px;
    }

    // 상세 내용 타이틀
    .detailTextTitle {
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 10px;
      color: var(--color-point);
      display: flex;
      align-items: center;

      .icon {
        font-size: 15px;
        margin-right: 10px;
      }
    }
    // 상세 내용
    .detailText {
      font-size: 20px;
      margin-left: 25px;
    }
  }

  // 열었을때
  &.open {
    background-color: var(--color-wh-sub);

    .detailTextWrapper {
      max-height: 1500px; /* 충분히 큰 값으로 설정 */
      opacity: 1;
      overflow: visible;
    }

    // ========================
    // 디테일 더보기
    .detailMore {
      // 더보기 이모티콘
      .detailMoreLine {
        &:nth-child(1) {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
  }
}
