// ===================
//Wrapper

.mySkillWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  // ===================
  // Skill title

  .title {
    font-size: 130px;
    margin-right: 150px;
    font-style: italic;
  }

  // ===================
  // 스킬 감싸는 요소

  .skill {
    overflow: hidden;
    width: 100%;
    text-overflow: clip;
    display: flex;
    align-items: center;

    // 첫번째 요소 마진 삭제
    &:nth-child(1) {
      margin-right: 0;
    }

    // ===================
    // 스킬 각각 글자

    .skillBox {
      margin-right: 55px;
      font-size: 43px;
      font-weight: 700;
      white-space: nowrap;
      color: rgba(rgb(244, 240, 237), 0.8);
    }
  }
}
