@charset "UTF-8";

html,
body {
  font-size: 16px;
  width: 100%;
  height: auto;
}

body {
  position: relative;
}

.inner {
  width: 100%;
  padding: 0 60px 200px 0;

  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
}

/* 루트 */
:root {
  --color-bk: #171717;
  --color-gr: #7a7a7a;
  --color-point: #f56e50;
  --color-wh: #f4f0ed;
  --color-error: #ff0000;
}

*::-webkit-scrollbar {
  display: none;
}


