@charset "UTF-8";

html,
body {
  font-size: 16px;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.inner {
  width: 100%;
  padding: 0 60px 200px 0;

  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
}

/* 루트 */
:root {
  --color-bk: #171717;
  --color-bk-text: #041e49;
  --color-gr: #7a7a7a;
  --color-point: #3476f5;
  /* --color-point: #ff6714; */
  /* --color-point: #f56e50; */
  /* --color-wh: #f4f0ec; */
  --color-wh-sub: #e1f2fc;
  --color-wh: #ffffff;
  --color-error: #ff0000;
}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1550px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 9px;
  }
}
